{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
</head>
<body>

    {% include "polls/header.html" %}

    <div class="jumbotron">
      <div class="container">

        {% block main_content %}
        {% endblock %}

        <br>
        {% include "polls/footer.html" %}
      </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'polls/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</body>
</html>